<div class="jumbotron">
    <div class="container">
        <h1>About</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
        <p>My name is Jen.  I am a single mother of two kids and two dogs. I am 39 years old.  

I quit my corporate job as an office administrator at a commercial real estate firm in May 2015.  I was not happy.  Work was cutting into my education (I was in an MBA program) and my limited time with my kids (I only get to see them half time as it is, one of the "joys" of a single parent.)   On top of all of that, I had some entrepreneurial and creative dreams that were weighing on my conciousness and seriously making me question the sustainability of the career path I was on.  I wanted to focus my time on school, my children, and the exploration of my interests so that I might find the right "path" for me.

About ten months before I graduated, I had an idea for a text-messaging technology that I decided to bring to fruition.  The problem was, I didn't know how to code, I had limited tech knowledge and limited entrepreneurial experience, (I am an artist so I have made an attempt to sell my work and creative services in the past, but not with much success.)  But I did have the passion, the education, and the high-risk tolerance it takes to dive in despite all of the hazards.  

This site is a resource and chronicle of my foray into career-transitioning, single-parenting, surviving, and becoming an entrepreneur.  I've decided to share my story and the resources I have found along the way because I know you are out there.  You walk amongst us...the people who shuttle themselves through socially acceptable jobs in spite of a secret longing and pull to the "what if..."  You've been punching the clock on life for so long that real freedom and creative fulfillment seem an impossible proposition.  I've met many of you along the way.  I want you to know that I see you.  Don't give up on your dreams, or yourself.  It's never too late to take your life back.  It's never too late to learn.  It's never too late to take a leap of faith.  
	</p>

    </div>
</div>

